<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="cryptoinfo-tab">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `cryptoinfo-tab`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoinfoTab extends Polymer.Element {
      static get is() { return 'cryptoinfo-tab'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'cryptoinfo-tab'
          }
        };
      }
    }

    window.customElements.define(CryptoinfoTab.is, CryptoinfoTab);
  </script>
</dom-module>
